<h1>Games#edit</h1>
<p>Find me in app/views/games/edit.html.erb</p>

<%= form_for @game do |f| %>

<h1>ランニングスコア</h1>
<p>
両チームで記録し合う
</p>

<%# ランニングスコア %>
<table class="rs">
<thead>
<tr>
<th>チーム</th>
<% for i in 1..7 %>
<th><%= i %></th>
<% end %>
<th>合計</th>
</thead>

<tbody>
<% for tb in ['top', 'bottom'] %>
<tr>
<th><%= get_name_by_team_id @game[tb + '_team_id'] %></th>
<% for i in 1..@game.last_inning %>
<% key = tb + '_' + i.to_s %>
<td><input type="text" name="rs[<%= key %>]" value="<%= @rs[key] %>"></td>
<% end %>
<td><input type="text" name="rs[<%= tb %>_sum]" value="<%= @rs[tb + '_sum'] %>"></td>
</tr>
<% end %>
</tbody>
</table>

<%= f.hidden_field :last_inning %>

<%# 打者成績入力 %>
<h1>打者成績入力</h1>
<p>
自分のチームの打者成績をいれる
</p>

<% for tb in ['top', 'bottom'] %>

<table>
<thead>
<tr>
<th>打順</th>
<th>名前</th>
<th>守備</th>
<th>内野フライ</th>
<th>内野ゴロ</th>
<th>外野フライ</th>
<th>三振</th>
<th>フォアボール</th>
<th>デッドボール</th>
<th>送りバント</th>
<th>犠打</th>
<th>ヒット</th>
<th>2塁打</th>
<th>3塁打</th>
<th>HR</th>
<th>打点</th>
<th>盗塁</th>
</tr>
</thead>

<tbody>
<% for @stat in @stats[tb]['hitting'] %>
<tr>
<td><%= @stat.order %></td>
<td><%= select :stat, :player_id, options_for_select(@players[tb].collect{|t| [t.name, t.id]}) %></td>
<td><%= text_field :stat, :position %></td>
<td><%= number_field :stat, :TPA %></td>
<td><%= number_field :stat, :TPA %></td>
<td><%= number_field :stat, :TPA %></td>
<td><%= number_field :stat, :SO %></td>
<td><%= number_field :stat, :BB %></td>
<td><%= number_field :stat, :HBP %></td>
<td><%= number_field :stat, :SAC %></td>
<td><%= number_field :stat, :SF %></td>
<td><%= number_field :stat, :H %></td>
<td><%= number_field :stat, :H2 %></td>
<td><%= number_field :stat, :H3 %></td>
<td><%= number_field :stat, :HR %></td>
<td><%= number_field :stat, :RBI %></td>
<td><%= number_field :stat, :SB %></td>
</tr>
<% end %>
</tbody>
</table>

<% end %>

<h1>投手成績入力</h1>
<p>
自分のチームの投手成績をいれる
</p>

<table>
<thead>
<tr>
<th>順</th>
<th>名前</th>
<th>勝敗</th>
<th colspan="2">投球回数</th>
<th>奪三振</th>
<th>失点</th>
</tr>
</thead>

<tbody>
<% for @stat in @stats['top']['pitching'] %>
<tr>
<td>1</td>
<td><%= select :stat, :player_id, options_for_select(@players[tb].collect{|t| [t.name, t.id]}) %></td>
<td><%= select :stat, :W, [['勝', '勝'], ['負', '負']] %></td>
<td><%= select :stat, :IP, [1..7] %></td>
<td><%= select :stat, :IP_frac, ['', 0/3, 1/3, 2/3] %></td>
<td><%= number_field :stat, :SO %></td>
<td><%= number_field :stat, :RBI %></td>
</tr>
<% end %>
</tbody>
</table>

<%= submit_tag '登録' %>
<% end %>
