<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>

<a href="/games/new">新しい試合を追加する</a>

<%# 試合一覧 %>
<table>
<thead>
</thead>

<tbody>
<% @games.each do |game| %>
<tr>
<td><%= game.date %></td>
<td><%= game.start_time %></td>
<td><%= game.stadium %></td>
<td><%= get_team_name_by_id game.top_team %> vs <%= get_team_name_by_id game.bottom_team %></td>
<td><%= game.memo %></td>
<td><a href="/games/<%= game.id %>">show</a></td>
<td><a href="/games/<%= game.id %>/edit">edit</a></td>
</tr>
<% end %>
</tbody>
