<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>

<%= form_for(@game) do |f| %>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :stadium %>
    <%= f.text_field :stadium %>
  </div>
  <div class="field">
    <%= f.label :top_team_id %>
    <%= f.select(:top_team_id, options_for_select(@teams.collect{|t| [t.name, t.id]}, @game.top_team_id)) %>
  </div>
  <div class="field">
    <%= f.label :bottom_team_id %>
    <%= f.select(:bottom_team_id, options_for_select(@teams.collect{|t| [t.name, t.id]}, @game.bottom_team_id)) %>
  </div>
  <div class="field">
    <%= f.label :memo %>
    <%= f.text_area :memo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
