<!DOCTYPE html>
<html>
<head>
  <title>Bms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><a href="/">bms</a></h1>

<%= current_user.email %> でログイン中
<hr>

<%= yield %>

</body>
</html>
