<!DOCTYPE html>
<html>
<head>
  <title>Bms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><a href="/">bms</a></h1>

<% if user_signed_in? %>
<%= current_user.email %> でログイン中
<% else %>
<a href="<%= user_omniauth_authorize_path(:facebook) %>">Facebookで登録/ログイン</a>
<% end %>
<hr>

<%= yield %>

</body>
</html>
